flask==2.0.3
werkzeug==2.0.3
flask-socketio==5.3.6
python-engineio==4.6.1
python-socketio==5.8.0
gunicorn==21.2.0
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
gtts==2.4.0
pydub==0.25.1
audio-effects==0.22
