<!DOCTYPE html>
<html>
<head>
    <title>Отправить сообщение на стрим</title>
</head>
<body>
    <h1>Напиши что-нибудь, и это появится на стриме!</h1>
    <form action="/send_alert" method="POST">
        <input type="text" name="username" placeholder="Твое имя"  maxlength="20" required>
        <br>
        <textarea name="text" placeholder="Текст сообщения..." maxlength="250" required></textarea>
        <br>
        <button type="submit">Отправить</button>
    </form>
    <p>Сообщения можно оправить раз в 10 секунд!</p>
<style>
    body {
        display: grid;
        place-items: center;
        min-height: 50vh;
        margin: 0;
        background-color: black; 
    }

    h1 {
        font-family: 'Segoe Print';
        color: red;
    }
    p {
       font-family: 'Segoe Print';
        color: red;
    }
	
    input[type="text"], textarea {
        width: 300px;
        margin: 10px 0;
        padding: 8px;
    }
</style>
</body>
</html>
